* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imgBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: linear-gradient(to right, rgb(0, 255, 0), rgb(67, 67, 255));
}

.imgBox img {
    width: 430px;
    border-radius: 30px;
    margin-top: -1px;
}

.imgBox .pic {
    overflow: hidden;
    height: 632px;
    border-radius: 20px;
}

@media (max-width: 480px) {
    .imgBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 10px;
    }

    .imgBox .pic {
        width: 100%;
    }

    .imgBox .pic img {
        width: 100%;
    }

}